<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Minlog</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header-content">
            <h1 class="logo"><a th:href="@{/minlog}">Minlog</a></h1>
            <nav class="nav">
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/minlog/loginform}" class="nav-link">로그인</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a href="/minlog/postform" class="nav-link">글 쓰기</a>
                    <a href="/logout" class="nav-link">로그아웃</a>
                </div>
            </nav>
        </div>
    </header>
</div>
<div>
    <table th:if="${!posts.isEmpty()}">
        <thead>
        <tr>
            <th>UserName</th>
            <th>Title</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td>
                <a th:href="@{/minlog/{username}(username=${post.getUser().getUsername()})}" th:text="${post.getUser().username}"></a>
            </td>
            <td>
                <a th:href="@{/minlog/viewpost(id=${post.id})}" th:text="${post.title}"></a>
            </td>
            <td th:text="${post.createdAt.format(dateformatter)}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>